<!DOCTYPE html>
<html>
<head>
    <style>
        csstheme/file
    </style>
</head>
    <body>
        @foreach(var content in @Model.Content)
        {
            @content;
        }
    </body>
</html>