services:
  pdfbuilder-api:
    hostname: pdfbuilder-api
    build:
      context: .
      dockerfile: ./docker/api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5117
      - ASPNETCORE_Kestrel__Certificates__Default__Password=pAs5w0rd
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - PDFBUILDER_API_Settings__Files__Local__BasePath=/data
      - PDFBUILDER_API_Settings__ServiceUri=https://pdfbuilder-builder:5001
      - PDFBUILDER_API_SETTINGS__SaveServiceUri=https://pdfbuilder-saver:5002
    ports:
      - "5117:5117"
    volumes:
      - ./certs/:/https/:ro
      - pdf_data:/data:ro
    networks:
      pdfbuilder_net:

  pdfbuilder-builder:
    build:
      context: .
      dockerfile: ./docker/builder/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:5001
      - ASPNETCORE_Kestrel__Certificates__Default__Password=pAs5w0rd
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - PDFBUILDER_SERVICE_Assets__TemplatesManifest=/assets/manifests/templates.json
      - PDFBUILDER_SERVICE_Assets__ThemesManifest=/assets/manifests/themes.json
      - PDFBUILDER_SERVICE_Settings__Files__Local__BasePath=/data
    volumes:
      - ./certs/:/https/:ro
      - ./assets-example:/assets/:ro
      - pdf_data:/data:rw
    networks:
      pdfbuilder_net:
  
  pdfbuilder-saver:
    build:
      context: .
      dockerfile: ./docker/save/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:5002
      - ASPNETCORE_Kestrel__Certificates__Default__Password=pAs5w0rd
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - PDFBUILDER_SAVESERVICE_Settings__Files__Local__BasePath=/data

    volumes:
      - ./certs/:/https/:ro
      - pdf_data:/data:rw
    networks:
      pdfbuilder_net:

  pdfbuilder-web:
    hostname: pdfbuilder-web
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    environment:
      - HOST=0.0.0.0
      - PORT=5118
      - PDFBUILDER_UI_Api__Internal__Uri=http://pdfbuilder-api:5117
      - PDFBUILDER_UI_Api__External__Uri=http://localhost:5117
      - PDFBUILDER_UI_Host__Uri=http://localhost:5118
    ports:
      - "5118:5118"
    networks:
      pdfbuilder_net:
      
networks:
  pdfbuilder_net:

volumes:
  pdf_data: