<!DOCTYPE html>
<html>
    <body>
        <h1>No Data Template</h1>
        <p>This is a template that doesn't require data, it's just for testing.

            If you're seeing this then something isn't correct or you've selected this.
        </p>
    </body>
    <footer>
        @Model.GeneratedOn
    </footer>
</html>