body {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-flow: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin-bottom: 0.5rem;
    border-bottom: solid 2px black;
}

a:link {
    color: dimgray;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: dimgray;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: dimgray;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: dimgray;
    background-color: transparent;
    text-decoration: underline;
}

article:nth-child(1) {
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
}

article {
    border-radius: 5px;
    background-color: lightgrey;
    width: 90%;
    margin-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1rem;
    padding-right: 1rem;
    page-break-inside: avoid;
}
