import { sveltekit } from '@sveltejs/kit/vite';
import { defineConfig } from 'vite';

// Container related config. This is copied to the main config when building the container.
export default defineConfig({
	plugins: [sveltekit()]
});
